.content-item {
  margin-top: 31px;

  &__img-wrapper {
    float: left;
    margin-right: 28px;
    height: 100%;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__description {
    margin-top: -3px;
  }

  &__heading {
    font-size: 0.875rem;
    margin-top: 0;
  }

  &__subheading {
    font-family: Roboto;
    color:  #333333;
    font-size: 0.9375rem;
    text-transform: none;
    font-weight: 300;
    font-style: italic;
    margin-top: 0;
    position: relative;
  }

  &__subheading::after {
    content: '';
    display: block;
    margin: 19px 0 19px 140px;
    background-color: #f38181;
    width: 60px;
    height: 3px;
  }

  &__text {
    line-height: 1.5;
  }
}

 .content-item--clients {
    margin-top: 65px;

    .content-item__heading {
      margin-bottom: 9px;
    }

    .content-item__img-circle {
      border-radius: 50%;
      overflow: hidden;
      height: 110px;

      img {
        width: 110px;
        height: 110px;
      }
    }
  }

