.content-item {
  margin-top: 31px;

  &__img-wrapper {
    float: left;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__description {
    margin-top: -3px;
    margin-left: 60px;
  }

  &__heading {
    font-size: 0.875rem;
    margin-top: 0;
  }

  &__text {
    line-height: 1.5;
  }
}