.page-section {
  margin-top: 57px;
  margin-bottom: 69px; 

  @mixin atMedium {
    margin-top: 97px;
    margin-bottom: 109px;
  }
  
  &--no-margin {
    margin-bottom: 0;
    margin-top: 0;
  }

  &--facts {
    background-color: $mainBlue;
  }

  &--feature {
    padding-top: 0;
    margin-bottom: 0;
    background: #eee;
    position: relative;
    @mixin atSmall {
      padding-top: 95px;
    }

    @mixin atMedium {
      background: url("../../assets/images/feature-bg-effect.jpg") top center no-repeat;
      background-size: cover;
    }

    .feature__ipad {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    .feature__iphone {
      position: absolute;
      bottom: -91px;
      left: 56.5%;
      width: 50%;
      @mixin atSmall {
        width: auto;
      }
    }
  }

  &--quote {
    background-color:  #f8f8f8;
    padding-top: 42px;
    padding-bottom: 42px;
    
    @mixin atMedium {
      padding-top: 72px;
      padding-bottom: 72px;
    }
  }

  &__main-description {
    line-height: 1.5;
    max-width: 955px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.9em;
    margin-bottom: 2.9em;
    text-align: center;
  }
}