.page-section {
  padding-top: 57px;
  padding-bottom: 69px; 

  @mixin atMedium {
    padding-top: 97px;
    padding-bottom: 109px;
  }
  
  &--no-margin {
    padding-bottom: 0;
    padding-top: 0; 
  }

  &--facts {
    background-color: $mainBlue;
  }

  &--feature {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    background: #eee;
    position: relative;
    @mixin atSmall {
      padding-top: 95px;
    }

    @mixin atMedium {
      background: url("../../assets/images/feature-bg-effect.jpg") top center no-repeat;
      background-size: cover;
    }

    .feature__ipad {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    .feature__iphone {
      position: absolute;
      bottom: -91px;
      left: 56.5%;
      width: 43%;
      @mixin atMedium {
        width: 35%;
      }
      @mixin atLarge {
        width: auto;
      }
    }
  }

  &--quote {
    background-color:  #f8f8f8;
    padding-top: 42px;
    padding-bottom: 42px;
    
    @mixin atMedium {
      padding-top: 72px;
      padding-bottom: 72px;
    }
  }

  &--our-team {
    &__heading {
      text-align: center;
      font-size: 0.875rem;
      padding-top: 1.625em;
      padding-bottom: 0px;
    }
    &__text {
      text-align: center;
    }
  }

  &--clients {
    padding-top: 98px;
    padding-bottom: 114px;
    background: #eee;
    @mixin atMedium {
      background: url("../../assets/images/feature-bg-effect.jpg") top center no-repeat;
      background-size: cover;
    }
  }

  &--logos {
    background: #f8f8f8;
    padding-top: 57px;
    padding-bottom: 57px;
  }

  &--blog {
    text-align: center;
    @mixin atSmall {
      text-align: left;
    }
  }

  &--map {
    background: #eeeeee;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 56px;

    @mixin atMedium {
      background: url("../../assets/images/map.jpg") top center no-repeat;
      background-size: cover;
    }

    &__text {
      font-family: Montserrat;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #f38181;
      position: relative;
      margin-top: 10px;

      &::after {
        content: "";
        position: absolute;
        background-color:  #f38181;
        width: 60px;
        height: 3px;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }

  &__main-description {
    line-height: 1.5;
    max-width: 955px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.9em;
    margin-bottom: 2.9em;
    text-align: center;
  }
}