.site-footer {
  padding-top: 43px;

  &__logo {
    font-family: Montserrat;
    color:  #cccccc;
    font-size: 2.875rem;
    font-weight: 700;
  }

  &__description {
    margin-top: 30px;
    line-height: 1.5;
    margin-bottom: 44px;
  }

  &__followers-text {
    font-family: Montserrat;
    color:  #333333;
    font-size: 0.875rem;
    font-weight: 400;
    border-bottom: solid 1px #ddd;
    margin-bottom: 0;
    padding-bottom: 13px;

  }

  &__followers-number {
    font-size: 1.125rem;
    font-weight: 700;
  }

  &__follow-us {
    display: inline-block;
    margin-right: 10px;
  }

  &__social-icon-wrapper {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
  }

  &__main-headline {
    font-size: 0.875rem;
    margin-bottom: 35px;
  }

  &__blog-item {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__blog-img-wrapper {
    width: 120px;
    margin-right: 19px;
    width: 186px;
  }

  &__blog-headline {
    font-family: Montserrat;
    color:  #333333;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
  }

  &__blog-date {
    color:  #999999;
    font-size: 0.8125rem;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
  }

  &__instagram-gallery {
    margin-bottom: 10px;
    display: table;
  }

  &__instagram-img {
    width: 33.33%;
    float: left;
    padding: 1px 2px;
  }

  &__view-more {
    font-family: Roboto;
    color:  #333333;
    font-size: 0.8125rem;
    font-weight: 300;
    font-style: italic;
    text-align: left;
  }

  &__copy-rights {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Montserrat;
    color:  #333333;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    border-top: solid 1px #ddd;

    a {
      font-family: Montserrat;
      color:  #f38181;
    }
  }

}